@{
    ViewData["Title"] = "Home Page";
}
<body class="body">
    <div class="text-center">
        <img src="./../logo.png" width="60%">
    <hr class="my-4">
    <div class="col-md-12 text-center">
        <a href='@Url.Action("Player", "Home")'>
            <button class="btnInicio">Empezar a jugar</button>
        </a>
    </div>
</body>