@{
    ViewData["Title"] = "¿Quién quiere ser millonario?";
}

<body class="body">
    <div class="jumbotron bg-light">
        <h1 class="display-4">¡Excelente, (nombre)!</h1>
        <p class="lead">Has ganado: $(cantDinero)</p>
    </div>
</body>