@{
    ViewData["Title"] = "¿Quién quiere ser millonario?";
}

<body class="body">
    <div class="jumbotron bg-light text-center">
        <h1 class="display-4">¡FINAL DEL JUEGO!</h1>
        <p class="lead">@ViewBag.infoPlayer has ganado: $@ViewBag.pozoGanado</p>
        <img src="https://c.tenor.com/o5iAkono3ysAAAAC/fin-the-end.gif" alt="gif">
    </div>
</body>