@{
    ViewData["Title"] = "¿Quién quiere ser millonario?";
}

<body class="body">
    <div class="general">
        <div class="pozo"></div>
        <div class="comodin"></div>
        <div class="pregunta"></div>
    </div>
</body>