@{
    ViewData["Title"] = "¿Quién quiere ser millonario?";
}

<body class="body">
    <img src="./../delMoro.jpg" width="30%" height="200px" style="float: left;">
    <div class="general">
        <div class="pozo"></div>
        <div class="comodin text-center">
            <div class="row">
                <div class="col-sm-6 btnComodin">COMODINES</div>
                <div class="col-sm-6 btnComodin">50/50</div>
                <div class="w-100"></div>
                <div class="col-sn-6 btnComodin"><button>2ble Chance</button></div>
                <div class="col-sm-6 btnComodin"><button>Saltear</button></div>
            </div>
        </div>
        <div class="pregunta text-center">
            <h1>Pregunta</h1>
            <ul style="list-style: none; margin-right: 30px;">
                <li><button class="opcion">OPCION 1</button></li>
                <li><button class="opcion">OPCION 2</button></li>
                <li><button class="opcion">OPCION 3</button></li>
                <li><button class="opcion">OPCION 4</button></li>
            </ul>
        </div>
        <div class="acciones">
            <button class="btn btn-success">SIGUIENTE</button>
            <button class="btn btn-danger">PLANTARSE</button>
        </div>
    </div>
</body>