@{
    ViewData["Title"] = "¿Quién quiere ser millonario?";
}

<body class="body">
    <h1 class="text-center">Pregunta</h1>
    <div class="containerPreg text-center">
        <ul>
            <li>Pregunta 1
                <button>A</button>
            </li>
            <li>Pregunta 2
                <button>B</button>
            </li>
            <li>Pregunta 3
            <button>C</button>
            </li>
            <li>Pregunta 4
                <button>D</button>
            </li>
        </ul>
    </div>
        <div class="containerComodin text-center">
        <ul>
            <li>Pregunta 1
                <button>A</button>
            </li>
            <li>Pregunta 2
                <button>B</button>
            </li>
        </ul>
    </div>
</body>