@{
    ViewData["Title"] = "¿Quién quiere ser millonario?";
}

<body class="body">
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <img src="./../delMoro.jpg" width="30%" height="200px" style="float: right;">
            <div class="general">
                <div class="comodin">
                    <button class="btn btn-primary">50/50</button>
                    <button class="btn btn-primary">2ble Chance</button>
                    <button class="btn btn-primary">Saltear</button>
                </div>
                <div class="pregunta text-center">
                    <h1>Pregunta</h1>
                    <ul style="list-style: none; margin-right: 30px;">
                        <li><button class="opcion">OPCION 1</button></li>
                        <li><button class="opcion">OPCION 2</button></li>
                        <li><button class="opcion">OPCION 3</button></li>
                        <li><button class="opcion">OPCION 4</button></li>
                    </ul>
                </div>
                <div class="pozo">
                    <ul>
                        <li>$1.000.000</li>
                        <li>$800.000</li>
                        <li>$700.000</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                        <li>$---.---</li>
                    </ul>
                </div>
                <div class="acciones">
                    <button class="btn btn-success">SIGUIENTE</button>
                    <a href='@Url.Action("PantallaFindelJuego", "Home")'>
                        <button class="btn btn-danger">PLANTARSE</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>