html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.body {
  background-image: url('./../bgBlur.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.general {
  margin: auto;
  width: 100%;
  height: auto;
}

.pozo {
  float: right;
  width: 30%;
  height: auto;
}

.pozo ul li{
  background-color: yellow;
  text-align: center;
  list-style: none;
}

.comodin {
  width: 70%;
  height: auto;
  text-align: center;
  margin: 2%;
}

.comodin button{
  width: 30%;
  height: 60px;
}

.pregunta {
  width: 70%;
  height: auto;
  float: left;
}

.pregunta h1 {
  margin-bottom: 18px;
  background-color: white;
}

.pregunta ul li button {
  width: 100%;
  margin-top: 2px;
}

.acciones {
  text-align: center;
  height: auto;
}

.acciones button {
  height: 120px;
  width: 30%;
  margin-top: 45px;
  padding: 5px;
}


/* From uiverse.io */
.btnInicio {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btnInicio:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnInicio:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnInicio::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btnInicio::after {
  background-color: #fff;
}

.btnInicio:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* From uiverse.io by @alexroumi */
.opcion {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.opcion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.opcion:hover {
  color: #e8e8e8;
}

.opcion:hover::before {
  width: 100%;
}